@import "./support/support.scss";

li.nav-list-item.external {
  &:first-of-type::before {
    content: "";
    display: block;
    border-top: 1px solid #ccc;
    margin: 0.5rem 0rem;

    @media (prefers-color-scheme: dark) {
      border-top: 1px solid $grey-dk-200;
    }

    @media (prefers-color-scheme: light) {
      border-top: 1px solid $grey-lt-100;
    }
  }
}

// Heights for .site-header at media-queries (in rem)
$header-heights: (
  default: 2rem,    // below xs
  xs: 6rem,
  sm: 10rem,
  md: 14.5rem,
  lg: 16rem,
  xl: 18rem
);

.site-header {
  height: map-get($header-heights, default);
  max-height: map-get($header-heights, default);
  overflow: hidden;
}

@each $breakpoint, $min-width in $media-queries {
  $height: map-get($header-heights, $breakpoint);

  @media (min-width: #{$min-width}) {
    .site-header {
      height: $height;
      max-height: $height;
    }
  }
}

#markdown-toc ul {
  display: none;
}

#site-nav a {
  white-space: nowrap;
}
