.site-logo {
  background-image: url("/assets/images/lug_logo_finished_by_polymachairoplacida.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 60px;

  @media (max-width: 768px) {
    width: 100px;
    height: 50px;
  }

  @media (max-width: 480px) {
    width: 80px;
    height: 40px;
  }
}