<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log("theme select");
        const savedTheme = jtd.getTheme();
        if (!savedTheme) {
            const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
            jtd.setTheme(prefersDark ? "dark" : "light");
        } else {
            jtd.setTheme(savedTheme);
        }

        window.matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', event => {
        if (event.matches) {
            jtd.setTheme('dark');
        } else {
            jtd.setTheme('light');
        }
        });

        const themeToggle = document.getElementById("theme-toggle");

        jtd.addEvent(themeToggle, "click", () => {
            const newTheme = jtd.getTheme() === "dark" ? "light" : "dark";
            jtd.setTheme(newTheme);
        });
    });
</script>