<footer class="site-footer">
  <p class="mr-2 my-4 fs-2">
    <a href="https://robertsspaceindustries.com/orgs/LUG" class="nav-list-link external" target="_blank" rel="noopener noreferrer"> Join our Org! <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title"><use xlink:href="#svg-external-link"></use></svg> </a>
    <a href="https://discord.gg/meCFYPj" class="nav-list-link external" target="_blank" rel="noopener noreferrer"> 🗨 Discord <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title"><use xlink:href="#svg-external-link"></use></svg> </a>
    <a href="https://matrix.to/#/#SCLUG:matrix.org" class="nav-list-link external" target="_blank" rel="noopener noreferrer"> 😎 Matrix space <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title"><use xlink:href="#svg-external-link"></use></svg> </a>
    <a href="https://github.com/starcitizen-lug/knowledge-base" class="nav-list-link external" target="_blank" rel="noopener noreferrer"> 📚 Contribute to this Wiki on Github <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title"><use xlink:href="#svg-external-link"></use></svg> </a>


    <!-- <a href="https://robertsspaceindustries.com/orgs/LUG" class="mr-2 mb-2">Join our Org!</a>
    <a href="https://discord.gg/meCFYPj" class="mr-2 mb-2">🗨 Discord</a>
    <a href="https://matrix.to/#/#SCLUG:matrix.org" class="mr-2 mb-2">😎 Matrix space</a>
    <a href="https://github.com/starcitizen-lug/knowledge-base" class="mr-2 mb-2">Contribute to this Wiki on Github</a> -->
  </p>
</footer>